@using TPFinal.Models
@{
    ViewBag.Title = "Lunfar2";

}

<link rel="Site.css"/>
<div class="jumbotron">
    <img src="~/Content/logo.png" width="200" height="200" alt="imgf" />
    <p class="lead">Palabras,modismos y mas</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filtrar por letras</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("index","Home",ViewBag.Palabras)">Todas &raquo;</a>
            @for (int i = 65; i <= 90; i++)
            {
                <a class="btn btn-default" href="@Url.Action("BuscarxLetra","Home",new { Letra = i })">@Convert.ToChar(i)</a>
            }

        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Palabras</h2>
        @foreach (Definiciones Palabra in ViewBag.Palabras)
        {
        <a class="btn btn-default" href="@Url.Action("BuscarDefinicion","Home",new { IdPalabra = Palabra.IdPalabra, Letra=ViewBag.Letra })">@Palabra.Nombre</a>
        }
    </div>
    <div class="col-md-4">
        <h2>Definiciones</h2>
        <p>@ViewBag.Definicion</p>
        
    </div>
</div>