@using TPFinal.Models
@{
    ViewBag.Title = "Lunfar2";
    
}

<div class="jumbotron">
    
    <p class="lead">Palabras,modismos y mas</p>
     
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Filtrar por letras</h2>
        <p>
            <a class="btn btn-default" href="@Url.Action("index","Home",ViewBag.Palabras)">Todas</a>
            @for (int i = 65; i <= 90; i++)
            {
                <a class="btn btn-default" href="@Url.Action("BuscarxLetra","Home",new { Letra = i })">@Convert.ToChar(i)</a>
            }

        </p>
        
    </div>
    <div class="col-md-4">
        <h3>Palabras</h3>
        @foreach (Definiciones Palabra in ViewBag.Palabras)
        {
        <a class="btn btn-default" href="@Url.Action("BuscarDefinicion","Home",new { IdPalabra = Palabra.IdPalabra, Letra=ViewBag.Letra })">@Palabra.Nombre</a>
        }
    </div>
    <div class="col-md-4">
        <h4>Definiciones</h4>
        <p>@ViewBag.Definicion</p>
        
    </div>
</div>