
@{
    ViewBag.Title = "Moderacion";
    
}
@using TPFinal.Models;
<h2>Moderacion</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Filtrar Busqueda</h2>
        <a class="btn btn-default" href="@Url.Action("Moderacion","Home",ViewBag.Palabras)">Todas &raquo;</a>
        @for (int i = 65; i <= 90; i++)
        {
            <a class="btn btn-default" href="@Url.Action("BuscarxLetraM","Home",new { Letra = i })">@Convert.ToChar(i)</a>
        }
    </div>
    <div class="col-md-4">
        <h2>Palabras</h2>
        @foreach (Definiciones Palabra in ViewBag.Palabras)
        {
            <a class="btn btn-default" href="@Url.Action("BuscarDefinicionM","Home",new { IdPalabra = Palabra.IdPalabra, Letra=ViewBag.Letra })">@Palabra.Nombre</a>
        }

    </div>
    <div class="col-md-4">
        <h2>Definiciones</h2>
        <p>@ViewBag.Definicion</p>
        @if (ViewBag.IdPalabraDefinida != null)
        {
            <div class="col-md-4">
                <a class="btn btn-default" href="@Url.Action("Like","Home",new { IdPalabra = ViewBag.IdPalabraDefinida })">Like✔</a>
                <a class="btn btn-default" href="@Url.Action("DisLike","Home",new { IdPalabra = ViewBag.IdPalabraDefinida })">DisLike X</a>
            </div>

        }

    </div>
   
</div>

